.topic-card {
    // margin-bottom: 0.6rem;

    text-align: center;
    align-items: center;
    min-width: 185px;
    max-height: 115px;

    &.go-back-card{
        .card-img-bottom{
            width: 25px;
            height: 25px;
          }
    }

    .card-title{
        font-size: 1.2em;
    }

    .card-body {
        padding: 0.3rem 0rem 0.5rem 0rem;

        .card-img-bottom {
            display: inline-block;
            width: 25px;
            height: 25px;
            padding-bottom: 1px;
            background-repeat: no-repeat;
            position: relative;
        }
    }

    // @media (max-width: 576px) {
    //     .card-header {
    //         font-size: 1rem;
    //     }

    //     .card-body {
    //         padding: 0.5rem;

    //         .card-img {
    //             max-width: 50px; // Further shrink the SVG image for mobile
    //             max-height: 50px; // Further shrink the SVG image for mobile
    //         }
    //     }
    // }
}