$chat-container-min-width: 360px;
@import "@chatscope/chat-ui-kit-styles/themes/default/variables";

@import "./helper_mixins";

.cs-conversation__info {
    min-height: 1.5em;
}

.cs-message.rtl-message {
    @include right-to-left();

    & .dropdown-menu ul {

        @include right-to-left(); 
        padding-inline-start: 0px;
        padding-inline-end: 40px;
    }
}

.cs-message-input.rtl-message {
    @include right-to-left();
}