@import "@chatscope/chat-ui-kit-styles/themes/default/variables";
// override variables
// $chat-container-min-width: 360px;
// $message-input-content-editor-wrapper-padding: 0.6em 0.9em 0.6em 0.0em;


@import "@chatscope/chat-ui-kit-styles/themes/default/helpers/functions";
@import "@chatscope/chat-ui-kit-styles/themes/default/helpers/mixins";
@import "./helper_mixins";
// @import "@chatscope/chat-ui-kit-styles/themes/default/components/message-list";
// @import "@chatscope/chat-ui-kit-styles/themes/default/components/message-input";
@import "@chatscope/chat-ui-kit-styles/themes/default/main";


.mpathic-app .#{$prefix}-message {
    display: block;
}

.mpathic-app .#{$prefix}-message-list {
    // Because message in group cant have max-width, only if its direct child of list
    &__scroll-wrapper 
    {
        // padding: 0 1.2em 0 0.8em; <-- the original values
        padding-right: 0.2em;
    }
}

.cs-message-group--incoming .cs-message-group__avatar {
    margin-right: 0px; 
}

.cs-message-group--outgoing .cs-message-group__avatar {
    margin-left: 0px;
}

@media (min-width: 576px) {
    .mpathic-app .#{$prefix}-message-list {
        // Because message in group cant have max-width, only if its direct child of list
        &__scroll-wrapper > .#{$prefix}-message,
        &__scroll-wrapper > .#{$prefix}-message-group
        {
            max-width: 50%;
        }
    }
}

.mpathic-app{
    // override styles
    & .#{$prefix}-conversation__info {
        min-height: 1.5em;
    }

    & .#{$prefix}-message.rtl-message {
        @include right-to-left();

        & .dropdown-menu ul {

            @include right-to-left(); 
            padding-inline-start: 0px;
            padding-inline-end: 40px;
        }
    }

    & .#{$prefix}-message-input.rtl-message {
        @include right-to-left();
    }
}