.observation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f0f4f8;
    font-family: 'Arial', sans-serif;
    font-weight: bold; // Added line to make the text bold
}

.observation-text-display {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.observation-text-display:hover {
    transform: scale(1.05);
}

.observation-button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

// .observation-button {
//     border-radius: 50px; // Adjust the value to make the corners more rounded
// }