.text-typing-message-container {
    /* background-color: #2898ec;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: -5px 0px;
    font-size: 0.9rem; */

    /* background-color: #054679;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.0rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: 450px;
    margin-left: auto;
    text-align: left; */
  }

  .text-typing-message-container-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #2898ec;
    position: absolute;
    left: -7px;
    top: 13px;
  }

  /* Define the keyframes for the cursor animation */
@keyframes flicker {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .cursor {
    display: inline-block;
    width: 1ch;
    animation: flicker 0.5s infinite;
    margin-bottom: 4px;
  }